<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxg.dao.User0426Dao">
	<update id="updateUser" parameterType="map">
		update user0426
		<set>
			<choose>
				<when test="statu==1">integration=integration+5</when>
				<otherwise>integration=integration+2</otherwise>
			</choose>
		</set>
		where id=#{id}
	</update>
</mapper>